@import url('../reset.css');
@import url('../paging.css');
@import url('../footer.css');
@import url('head.css');
body {
    background: url("../../images/bg.gif");
}
.container {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}

/*后台管理主体头部设置*/
.body {
    padding: 15px 0;
    margin: 20px 0;
    background: #fff;
}
.wrap li {
    display: inline-block;
    padding: 5px 8px;
    border-right: 1px solid #BEBEBE;
}
.wrap li a{
    padding:6px 8px;
}
.wrap li:last-child {
    border-right-width: 0px;
}
.head-active{
    color:#fff;
    background: #127CC7;
}
.content-wrap {
    padding: 10px 0;
}
.list-item {
    position: relative;
    padding: 16px 0;
    font-size: 14px;
    border-bottom: 1px dashed #efefef;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list-item:hover{
    background: #efefef;
}
.list-item a {
    padding:0 10px;
    color: #6C6C6C;
    font-size: 14px;
}
.list-item:last-child {
    border-bottom: none;
}
.item-data {
    color: #6C6C6C;
}
.admin-handle {
    position: absolute;
    right: 20px;
    color: #6C6C6C;
    cursor: pointer;
}
.admin-handle span {
    padding-right: 10px;
}
.admin-handle span:hover, .list-item:hover a{
    color: #127CC7;
}