<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not found | 烟火</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/404.css">
</head>
<body>
<div id="app">
    <div class="header">
        <div class="header-body clearfix">
            <a class="header-title" href="/">烟火 Blog</a>
            <ul class="header-nav">
                <li><a href="/" target="_self">首页</a></li>
                <li><a href="/article" target="_self">文章</a></li>
                <li><a href="/demo" target="_self">案例</a></li>
                <li><a href="/board" target="_self">留言板</a></li>
            </ul>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <h1>Not Found</h1>
            <p>请浏览其他页面</p>
        </div>
    </div>
</div>
</body>
</html>