<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言板</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/front/board.css">
</head>
<body>
    <%include ../public/frontHead.ejs%>
    <p class="tip">该功能暂未开放，敬请期待！</p>
    <script data-main = "/javascripts/normal.js" src="/javascripts/require.min.js"></script>
</body>
</html>