<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--Edge 模式告诉 IE 以最高级模式渲染文档，也就是任何 IE 版本都以当前版本所支持的最高级标准模式渲染，避免版本升级造成的影响-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>案例展示</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/front/caseShow.css">
</head>
<body>
<%include ../public/frontHead.ejs%>
<div class="body">
    <div class="container">
        <%=caseContent%>
    </div>
    <div class="case-btn">
        <span class="case-show"><a target="_blank" href="/cases/<%=caseId%>/<%=caseName%>">查看演示</a></span>

    </div>
</div>
<%include ../public/footer.ejs%>
<script data-main = "/javascripts/normal.js" src="/javascripts/require.min.js"></script>
</body>
</html>