<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/front/style.css">
    <link rel="stylesheet" media="(max-width: 1280px)" href="/stylesheets/front/mobile/mid.css">
</head>
<body>
    <div id="load">
        <div class="loading-left"></div>
        <div class="loading-right"></div>
        <canvas id="cvs" width="240" height="240">
            您的浏览器不支持Canvas,请升级浏览器！
        </canvas>
    </div>
    <div id="app">
        <%include ../public/frontHead.ejs%>
        <div class="body">
            <div>
                <h1 class="body-title">I am here</h1>
                <p class="body-description">Life is so charming</p>
            </div>
            <div class="body-nav">
                <a href="https://github.com/SH-yh" target="_self">GitHub</a>
                <a href="/article" target="_self">Blog</a>
            </div>
        </div>
      </div>


  <script type="text/javascript" data-main="/javascripts/home" src="/javascripts/require.min.js"></script>
</body>
</html>