@import url("reset.css");
@import url("head.css");
@import url('footer.css');
@import url('paging.css');
body {
    width: 100%;
    height: 100%;
    background: url("../images/bg.gif")
}
.body {
    overflow: hidden;
    width: 1280px;
    margin: 64px auto;
}
.demo-warp {
    overflow: hidden;
    margin-top: 40px;
}
.demo-item {
    width: 24%;
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    float: left;
    margin-right: 1%;
    margin-top: 20px;
}
.item-head{
    width: 100%;
}
.item-head img {
    width:100%;
    height: 100%;
}
.item-body {
    width:90%;
    margin:0 auto;
}
.demo-title {
    color: #333;
    padding:10px 0;
}
.demo-describe {
    width:100%;
    height:125px;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    white-space:normal;
}