.header {
    position:relative;
    width: 100%;
    box-shadow: 1px 0px 10px 0px #000;
    background: #fefefe;
    z-index:999;
}
.header-body {
    width:1280px;
    margin:0 auto;
}
.header-title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
}
.header-nav {
    font-size: 18px;
    float: right;
}
.header-nav li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 22px 24px;
    cursor: pointer;
}
.header-nav li a:hover {
    color: #0076A4;
}