<div class="header">
    <div class="header-body clearfix">
        <a class="header-title" href="/">烟火 Blog</a>
        <ul class="header-nav" id="header_menu">
            <li <%if(index == 0){%>class="active"<%}%> ><a href="/" target="_self">首页</a></li>
            <li <%if(index == 1){%>class="active"<%}%>><a href="/article" target="_self">文章</a></li>
            <li <%if(index == 2){%>class="active"<%}%>><a href="/demo" target="_self">案例</a></li>
            <li <%if(index == 3){%>class="active"<%}%>><a href="/board" target="_self">留言板</a></li>
        </ul>
        <div class="slide-btn" id="slide_btn">
            <span class="slide-stripe"></span>
            <span class="slide-stripe"></span>
            <span class="slide-stripe"></span>
        </div>
    </div>
</div>