<div class="paging">
    <div class="back" id="back">上一页</div>
    <div data-type="<%=type%>" data-parentTag="<%=typeTag%>" class="page-container" >
        <%var value = 1%>
        <div class="paging-wrap">
            <input class="select-page" type="text" value=<%=value%> />
            <span class="page-split">/</span>
            <span class="page-sum"><%=pageSum%></span>
        </div>
    </div>
    <div class="next" id="next">下一页</div>
</div>