/*向上滚动*/
.pull-up {
    position: fixed;
    bottom: 40px;
    right: 0;
    width: 0px;
    height: 0px;
    background: #127CC7;
    cursor: pointer;
    overflow: hidden;
}
.pull-up:hover {
    background: #7DD43C;
}
.up-content{
    margin-top:6px;
}
.arrow-top {
    width:25px;
    height:2px;
    margin:0 auto;
    background:#fff;
}
.arrow-body {
    margin: 0 auto;
    margin-top: -10px;
    width:0;height:0;
    border:10px solid #fff;
    border-right-color:  transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
.arrow-tie {
    width: 3px;
    height: 15px;
    background: #fff;
    margin:0 auto;
}